@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --cor: rgb(106, 202, 231);
  --cor-preta: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--cor);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
}

.container {
  max-width: 640px;
  margin: 60px auto;
  background: #fff;
  padding: 20px;
  border-radius: 35px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 15px;
}

form input:focus {
  outline: 1px solid var(--cor);
}

form button {
  border: none;
  background: var(--cor);
  color: rgb(250, 246, 246);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 25px;
}

form button:hover {
  background: var(--cor-preta);
}

/* Adicionando estilos para os campos divididos no meio da tela */
.campo-imc {
  width: 48%;
  display: inline-block;
  margin-right: 4%;
}

.paragrafo-resultado,
.bad {
  background: rgb(109, 255, 300);
  padding: 10px 20px;
}

.bad {
  background: rgb(255, 150, 19);
}
.tabela {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer.copi {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
    text-align: center; 
    padding: 10px; 
    background-color: #f4f4f4; 
    border-top: 1px solid #ddd;}